.lists-container{
  width: 500px;
  min-height: 93vh;
}
mat-label{

}
mat-label span{
  display: inline-block;
  padding-right: 30px;
  width: 30%;
}
.mat-expansion-panel-header-title {
	width: 30%;
}
